@()(implicit request: play.api.mvc.Request[Any], lang: Lang)
<!DOCTYPE html>

<html>
    <head>
        <title>@Messages("title")</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-superhero", "bootstrap.min.css"))">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <div class="container">
            <h1>@Messages("title")</h1>
            Hello world!
        </div>

        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-superhero", "bootstrap.min.js"))"></script>
        <script src="@routes.Assets.at("javascripts/documentsearch.js")"></script>
    </body>
</html>
